<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img src="assets/images/todo.png" width=30>

  <h1>
    Welcome to live newsLetter!
  </h1>
  <h2>version - 8 notifications </h2>
</div>

<mat-card style="margin: 2em;">

  <button mat-button (click)="subscribeToNewsletter()" [disabled]="sub">Subscribe</button>
  <button mat-flat-button (click)="sendNewsLetter()">Send to subscribers</button>

  <mat-list #shoes>
    <mat-list-item *ngFor="let todo of todoList">
      {{todo.title}}
    </mat-list-item>
  </mat-list>
</mat-card>


