<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to live newsLetter!
  </h1>
</div>

<mat-card class="main-container">
  <button mat-button (click)="subscribeToNewsletter()" [disabled]="sub">Subscribe to push notifications</button>
  <button mat-flat-button (click)="sendNewsLetter()">Send to subscribers</button>
  <h3>Newsletters</h3>

  <mat-card class="newsletter" *ngFor="let newsletter of todoList">
    <mat-card-header>
      <mat-card-title>
        <a href="#"><h3>{{newsletter.title}}</h3></a>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{newsletter.imageUrl}} alt="image">
  </mat-card>

</mat-card>


